<div class="dashboard-container">
  <div class="dashboard-header" align="center">
    <h1>Logs Charts</h1>
    <button
      class="refresh-button"
      (click)="refreshData()"
      [disabled]="isLoading"
    >
      <span class="refresh-icon" [class.spinning]="isLoading">↻</span>
      Refresh Data
    </button>
    <hr>
  </div>
  <div class="chart-container">
    <h2>Sold And Searched Items Per Hour</h2>
    <canvas id="logChart2"></canvas>
    <h2>Api Calls Each Day - Last Week</h2>
    <canvas id="logChart1"></canvas>
    <!-- Add more canvas elements for additional charts -->
  </div>
</div>
